@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body{
    overflow-x: hidden;
}

.content-3-4 .btn:focus,
.content-3-4 .btn:active {
    outline: none !important;
}

.content-3-4 {
    padding: 2rem 2rem;
}

.content-3-4 .img-hero {
    width: 100%;
}

.content-3-4 .right-column {
    width: 100%;
}
.navbar{
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 20px 30px #04080C30;
}

.navbar-brand {
    font-weight: 900 !important;
    font-size: 1.5rem;
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 0px;
    letter-spacing: 3px;
    color: #ff4763 ;
    font-style: italic;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}



.navbar-brand:hover {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
    letter-spacing: 6px;
}

.nav-link{
  font-family: 'Poppins', sans-serif;
}

.nb-label{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}

.nb-label:hover{
  text-decoration: solid;
  color: #ff4763;
  font-weight: 600;
  letter-spacing: 1px;
}

.content-3-4 .title-text {
    font: 600 1.875rem/2.25rem Poppins, sans-serif;
    margin-bottom: 2.5rem;
    letter-spacing: -0.025em;
}

.content-3-4 .title-caption {
    font: 500 1.5rem/2rem Poppins, sans-serif;
    margin-bottom: 1.25rem;
}

.content-3-4 .circle {
    font: 500 1.25rem/1.75rem Poppins, sans-serif;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1.25rem;
    border-radius: 9999px;
    background-image: linear-gradient(
        rgba(181, 225, 111, 1),
        rgba(168, 248, 150, 1)
    );
    color: #000000;
}

.content-3-4 .text-caption {
    font: 400 1rem/1.75rem Poppins, sans-serif;
    letter-spacing: 0.025em;
    color: #999999;
}

.content-3-4 .btn-learn {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    color: #000000;
    /* padding: 1rem 2.5rem 1rem 2.5rem; */
    background-image: linear-gradient(
        rgba(181, 225, 111, 1),
        rgba(168, 248, 150, 1)
    );
    transition: 0.3s;
    letter-spacing: 0.025em;
    border-radius: 0.75rem;
}

.content-3-4 .btn-learn:hover {
    color: #000000;
    background-image: linear-gradient(#b5e16f, #b5e16f);
    transition: 0.3s;
}

@media (min-width: 768px) {
    .content-3-4 .title-text {
        font: 600 2.25rem/2.5rem Poppins, sans-serif;
    }
}

@media (min-width: 992px) {
    .content-3-4 .img-hero {
        width: 50%;
        margin-bottom: 0;
    }

    .content-3-4 .right-column {
        width: 50%;
    }

    .content-3-4 .circle {
        margin-right: 1.25rem;
        margin-bottom: 0;
    }
}

/* Style Home Page */

.content-2-2 .btn:focus,
.content-2-2 .btn:active {
    outline: none !important;
}

.content-2-2 .title-text {
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.content-2-2 .text-title {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
    color: #121212;
    margin-bottom: 0.625rem;
}

.content-2-2 .text-caption {
    color: #121212;
    font-weight: 300;
}

.content-2-2 .column {
    padding: 2rem 2.25rem;
}

.content-2-2 .icon {
    margin-bottom: 1.5rem;
}

.content-2-2 .icon-title {
    font: 500 1.5rem/2rem Poppins, sans-serif;
    margin-bottom: 0.625rem;
    color: #121212;
}

.content-2-2 .icon-caption {
    font: 400 1rem/1.625 Poppins, sans-serif;
    letter-spacing: 0.025em;
    color: #565656;
}

.content-2-2 .card-block {
    padding: 1rem 1rem 5rem;
}

.content-2-2 .card {
    padding: 1.75rem;
    background-color: #eef6f4;
    border-radius: 0.75rem;
    border: 1px solid #27c499;
}

.content-2-2 .card-title {
    /* font: 600 1.5rem/2rem Poppins, sans-serif;
    margin-bottom: 0.625rem;
    color: #000000; */
}

.card-title{
  /* font: 600 1.5rem/2rem Poppins, sans-serif; */
  color: white;
}

.max-h-card{
    max-height: (10rem + 2vh);
    overflow: hidden;
}

.card-category{
    transition: cubic-bezier(0.23, 1, 0.320, 1) 0.2s;
}

.user-card{
    background-color: #212529;
}

.user-card-descr{
    opacity: 0.3;
}

.user-card-text{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: white;
}

.card-category:hover{
    transform: scale(1.05);
}

.content-2-2 .card-caption {
    font: 300 1rem/1.5rem Poppins, sans-serif;
    color: #565656;
    letter-spacing: 0.025em;
    margin-bottom: 0;
}

.content-2-2 .btn-card {
    font: 700 1rem/1.5rem Poppins, sans-serif;
    background-color: #27c499;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
}

.content-2-2 .btn-card:hover {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.content-2-2 .btn-outline {
    font: 400 1rem/1.5rem Poppins, sans-serif;
    color: #979797;
    border: 1px solid #979797;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    border-radius: 0.75rem;
}

.content-2-2 .btn-outline:hover {
    border: 1px solid #27c499;
    color: #27c499;
}

.content-2-2 .card-text {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.content-2-2 .grid-padding {
    padding: 0rem 1rem 3rem;
}

@media (min-width: 576px) {
    .content-2-2 .grid-padding {
        padding: 0rem 2rem 3rem;
    }

    .content-2-2 .card-block {
        padding: 3rem 2rem 5rem;
    }
}

@media (min-width: 768px) {
    .content-2-2 .grid-padding {
        padding: 0rem 4rem 3rem;
    }

    .content-2-2 .card-block {
        padding: 3rem 4rem 5rem;
    }
}

@media (min-width: 992px) {
    .content-2-2 .grid-padding {
        padding: 1rem 6rem 3rem;
    }

    .content-2-2 .card-block {
        padding: 3rem 6rem 5rem;
    }

    .content-2-2 .column {
        padding: 0rem 2.25rem;
    }
}

@media (min-width: 1200px) {
    .content-2-2 .grid-padding {
        padding: 1rem 10rem 3rem;
    }

    .content-2-2 .card-block {
        padding: 3rem 6rem 5rem;
    }

    .content-2-2 .card-btn-space {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .content-2-2 .btn-card,
    .content-2-2 .btn-outline {
        width: 95%;
        float: right;
    }
}

@media (max-width: 980px) {
    .content-2-2 .card-btn-space {
        width: 100%;
    }
}

/* Style Homepage 2 */

.footer-2-4 .list-space {
    margin-bottom: 0.5rem;
}

.footer-2-4 .footer-text-title {
    font: 600 1.5rem Poppins, sans-serif;
    margin-bottom: 0.6rem;
}

.footer-2-4 .list-menu {
    color: #999999;
    text-decoration: none !important;
}

.footer-2-4 .list-menu:hover {
    color: #ffffff;
}

.footer-2-4 hr.hr {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(48, 48, 48, 1);
}

.footer-2-4 .border-color {
    color: #999999;
}

.footer-2-4 .footer-link {
    color: #999999;
}

.footer-2-4 .footer-link:hover {
    color: #ffffff;
}

.footer-2-4 .social-media-c:hover circle,
.footer-2-4 .social-media-p:hover path {
    fill: #ffffff;
}

.footer-2-4 .footer-info-space {
    padding-top: 3rem;
}

.footer-2-4 .list-footer {
    padding: 5rem 1rem 3rem 1rem;
}

.footer-2-4 .info-footer {
    padding: 0 1rem 3rem;
}

@media (min-width: 576px) {
    .footer-2-4 .list-footer {
        padding: 5rem 2rem 3rem 2rem;
    }

    .footer-2-4 .info-footer {
        padding: 0 2rem 3rem;
    }
    .on-w-lg-100{
      width: 100%;
    }
}

@media (min-width: 768px) {
    .footer-2-4 .list-footer {
        padding: 5rem 4rem 6rem 4rem;
    }

    .footer-2-4 .info-footer {
        padding: 0 4rem 3rem;
    }
}

@media (min-width: 992px) {
    .footer-2-4 .list-footer {
        padding: 5rem 6rem 6rem 6rem;
    }

    .footer-2-4 .info-footer {
        padding: 0 6rem 3rem;
    }
}

@media (max-width: 576px) {
  .img-responsive{
    min-height: 100%;
    max-height: 20rem;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
  .max-carousel-vh-lg{
    min-height: 100%;
  }
}

body {
    background: url("https://c0.wallpaperflare.com/preview/153/380/988/headphones-red-black-dark.jpg")
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "Quicksand", sans-serif;
    backdrop-filter: blur(40px);
    min-height: 100vh;
}

.nav-item:hover {
    /*background-color: orange;*/
    color: white;
    /* padding: 0.5rem 0.5rem; */
    border: none;
    outline: none;
    /* border-radius: 5px; */
    /*font-size: 0.8rem;*/
    cursor: pointer;
}

.card {
    /* background-color: #ee7828; */
}

h3, h4 {
    color: white;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: whitesmoke;
    font-weight: 600;
}

hr {
    border: none;
    height: 4px;
    /* Set the hr color */
    color: orange; /* old IE */
    background-color: rgb(252, 221, 164); /* Modern Browsers */
    margin-top: -10px;
}

.price {
    size: 0.5rem;
}

.informasi {
    display: inline-block;
    background-color: #00000050;
    border-radius: 10px;
    border: none;
    color: white;
}

.btn {
    background-color: #786778;
    border: none;
    /* margin-top: -10px; */
    color: black;
    /* padding: 10px 25px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 4px 2px; */
    cursor: pointer;
    /* border-radius: 16px; */
    color: white;
}


.btn-chat {
    border: solid 2px #786778;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    color: white;
}
.btn:hover .btn-chat:hover {
    background-color: #c3a4c3;
}

/* LOGIN */
.form-signin .form-registration {
    padding: 1rem;
}
.form-registration input {
    border-radius: 0%;
    margin-bottom: -1;
}

/* .form-signin .form-floating:focus-within {
  z-index: 2;
} */
.form-floating>label::after{
    background-color: transparent !important;
}

.form-signin input[type="email"] {
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.error message {
    color: wheat;
}

#login {
    margin-left: 120px;
}

.btn:hover {
    background-color: #c3a4c3;
}

#logintext {
    color: #c3a4c3;
    font-weight: 900 !important;
    font-size: 2.5rem;
    -webkit-text-stroke: white;
    color: transparent;

    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #FF4763;

    -webkit-text-stroke-width: 2px;
    font-style: italic;
    letter-spacing: 3px;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

#registertext {
    color: #c3a4c3;
}

#idnumcardreq {
    margin-right: -12px;
}

.img-responsive{
  overflow: hidden;
}



.hero-bg {
  width: 100%;
  height: 90%;
  position: absolute;
  opacity: 1;
  z-index: 100;
  background-image: linear-gradient(transparent,#04080C);
  bottom: 0;
  pointer-events: none;
}

.hero-text {
  font-size: calc(1rem + 3.25vw);
  color: #ffffff;
  font-style: italic;
  font-weight: 500;
  line-height: calc(1.5rem + 3.25vw);
  bottom: 0;
  margin-bottom: 7%;
  margin-left: 2vw;
  position: absolute;
  text-decoration: underline;
  text-decoration-color: #FF4763;
  font-family: 'Poppins', sans-serif;
  bottom: 0;
}

.h2-title-text{
  color: #c3a4c3;
  font-weight: 700 !important;
  font-size: 2.25rem;
  -webkit-text-stroke: white;
  color: white;

  /* text-decoration: underline; */
  text-underline-offset: 6px;
  text-decoration-color: #FF4763;
  font-style: italic;
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

.text-title-menu{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600 !important;
  font-size: 2.25rem;

}

.carousel{
  box-shadow: 0px 5px 10px #04080C;
  max-height: calc(100vh - 2.5rem);
}

.card-body-absolute{
    position: absolute;
    bottom: 0;
    padding: 0.75rem;
    width: 100%;
    background-image:linear-gradient(transparent, #04080C99, #04080cea)
}

.btn{
    background-color: #ff4763;
}
.btn:hover{
    background-color: #f57084;
}
.btn:active, .btn:focus-visible{
    background-color: #fe536d !important;
    border-color: #fe536d !important;
    box-shadow: none;
}

.crt-at-small-text{
    font-size:medium;
}

.user-desc-title{
    font-weight: 500;
    font-style: italic;
}

.text-muted {
    color: #fe536d !important;
}

.active>.page-link, .page-link.active .page-link{
    color: white !important;
    background-color: rgb(33,37,41) ;
    border-color: #fe536d;
}
.page-link , .page-link:focus{
    color: #fe536d;
    background-color: rgb(33,37,41) ;
    border-color: rgb(19, 21, 24);
    box-shadow: none;

}
.disabled>.page-link, .page-link.disabled{
    background-color: rgb(33,37,41) ;
    color: rgb(19, 21, 24);
    border-color: rgb(19, 21, 24);
}

.page-link:hover {
    z-index: 2;
    color: white;
    background-color: rgb(160, 52, 68);
    border-color: #802b37;
}